<div class='container'>
<div class="show-content">
<h1><%= @rec.find(@fav.recipe_id).dish %></h1><br><br>
<u>Prep Time</u>:<br><%= @rec.find(@fav.recipe_id).preptime %> Minutes<br><br>
<u>Cook Time</u>:<br><%= @rec.find(@fav.recipe_id).cooktime %> Minutes<br><br>
<u>Ingredients</u>:<br><%= @rec.find(@fav.recipe_id).ingredients %><br><br>
<u>Steps</u>:<br><%= @rec.find(@fav.recipe_id).steps %><br><br><br>

<a class="waves-effect waves-light btn red" rel="nofollow" data-method="delete" href="/favorites/<%= @fav.id%>">Remove</a><br><br>

<div class="timer">
<h3>Kitchen Timer</h3>
<h1 id="time"><time>00:00:00</time></h1>
<a class="waves-effect waves-light btn green" id="start">start</a>
<a class="waves-effect waves-light btn red" id="stop">stop</a>
<a class="waves-effect waves-light btn blue" id="clear">clear</a>
</div>
</div>
</div>
 <script>

    // x functionality when window loads

var h1 = document.getElementsByTagName('h1')[0],
    start = document.getElementById('start'),
    stop = document.getElementById('stop'),
    clear = document.getElementById('clear'),
    seconds = 0, minutes = 0, hours = 0,
    t;

function add() {
    seconds++;
    if (seconds >= 60) {
        seconds = 0;
        minutes++;
        if (minutes >= 60) {
            minutes = 0;
            hours++;
        }
    }

    h1.textContent = (hours ? (hours > 9 ? hours : "0" + hours) : "00") + ":" + (minutes ? (minutes > 9 ? minutes : "0" + minutes) : "00") + ":" + (seconds > 9 ? seconds : "0" + seconds);

    timer();
}
function timer() {
    t = setTimeout(add, 1000);
}
// timer();


/* Start button */
start.onclick = timer;

/* Stop button */
stop.onclick = function() {
    clearTimeout(t);
}

/* Clear button */
clear.onclick = function() {
    h1.textContent = "00:00:00";
    seconds = 0; minutes = 0; hours = 0;
}

 </script>




