
<div class="show-content">
<h1><%= @recipe.dish %></h1><br><br><br>
<b>Prep Time</b>:<br> <%= @recipe.preptime %> Minutes<br><br><br>
<b>Cook Time</b>:<br> <%= @recipe.cooktime %> Minutes<br><br><br>
<b>Ingredients</b>:<br> <%= @recipe.ingredients %><br><br><br>
<b>Steps</b>:<br> <%= @recipe.steps %>
<br>
<br>

<a href="/recipes/<%=@recipe.id%>/new">Favorite</a>

<a href="/recipes/<%=@recipe.id%>/edit">Edit</a>
<%= link_to "Delete", @rec, method: :delete, data: { confirm: 'Are you sure you want to delete it?' } %>

<div class="timer">
<h1 id="time"><time>00:00:00</time></h1>
<button id="start">start</button>
<button id="stop">stop</button>
<button id="clear">clear</button>
</div>
</div>
 <script>

    // x functionality when window loads

var h1 = document.getElementsByTagName('h1')[1],
    start = document.getElementById('start'),
    stop = document.getElementById('stop'),
    clear = document.getElementById('clear'),
    seconds = 0, minutes = 0, hours = 0,
    t;

function add() {
    seconds++;
    if (seconds >= 60) {
        seconds = 0;
        minutes++;
        if (minutes >= 60) {
            minutes = 0;
            hours++;
        }
    }

    h1.textContent = (hours ? (hours > 9 ? hours : "0" + hours) : "00") + ":" + (minutes ? (minutes > 9 ? minutes : "0" + minutes) : "00") + ":" + (seconds > 9 ? seconds : "0" + seconds);

    timer();
}
function timer() {
    t = setTimeout(add, 1000);
}
// timer();


/* Start button */
start.onclick = timer;

/* Stop button */
stop.onclick = function() {
    clearTimeout(t);
}

/* Clear button */
clear.onclick = function() {
    h1.textContent = "00:00:00";
    seconds = 0; minutes = 0; hours = 0;
}

 </script>
