<!DOCTYPE html>
<html>
<head>
<link href='https://fonts.googleapis.com/css?family=Arvo:400,700italic' rel='stylesheet' type='text/css'>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
<script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js'></script>
  <title>ProjectTwo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<main>
<header>

<nav>
    <div class="nav-wrapper">
      <!-- <a href="#" class="brand-logo">Logo</a> -->
      <ul class='left hide-on-med-and-down'>
        <li><a href="/recipes">Home</a></li>
      </ul>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if  user_signed_in? %>
        <li><a href="/recipes/new">Create Recipe</a></li>
        <li><a href="/favorites">Favorites</a></li>
        <% end %>

        <% if user_signed_in? %>
        <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li> |
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
        <% else %>
        <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li> |
        <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
        <% end %>

      </ul>
    </div>
  </nav>

<!-- <div class="fav-nav">
<a href="/favorites">Favorites</a>
<a href="/recipes">Home</a>

<a href="/recipes/new">Create Recipe</a>

</div>
<p class="navbar-text-pull-right">
<p class="navbar-text-pull-right">

 -->
</header>


<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>
</main>

</body>
</html>
